#pets{
    margin-top: 200px;
    .pets__photo{
        img{
            width: 100%;
            height: 100%;
        }
    }
    .pets__title{
        margin-top: 105px;
        h2{
            font-size: 50px;
            color: $dark;
            line-height: 1.5;
        }
        p{
            font-size: 18px;
            line-height: 1.9;
            padding-block: 18px;
        }
        a{
            background-color: $red;
            color: $light;
            width: 200px;
            margin-top: 10px;
            text-decoration: none;
            display: inline-block;
            border-radius: 50px;
            text-align: center;
            padding: 20px;
            font-size: 18px;
        }
    }
}

// responsibility
#pets{
    .pets__title{
        @include breakpoint(xl){
            margin-top: 90px;
            h2{
                font-size: 44px;
                color: $dark;
                line-height: 1.5;
            }
            p{
                font-size: 18px;
                line-height: 1.5;
                padding-block: 10px;
            }
        }
        
        @include breakpoint(lg){
            margin-top: 70px;
            h2{
                font-size: 40px;
                line-height: 1.1;
            }
            p{
                font-size: 16px;
                line-height: 1.5;
                padding-block: 10px;
            }
        }
        
        
    }
}