@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Poppins";
}

#hero {
  overflow: hidden;
  position: relative;
  height: 676px;
}
#hero .hero__banner {
  max-width: 100%;
  height: 580px;
}
#hero .hero__banner img {
  width: 100%;
  height: 100%;
}
#hero .hero__dog {
  width: 760px;
  height: 596px;
  position: absolute;
  top: 80px;
  right: 80px;
  z-index: 555;
}
#hero .hero__dog img {
  width: 100%;
  height: 100%;
}
#hero .hero__title {
  position: absolute;
  top: 120px;
  z-index: 999;
}
#hero .hero__title h2 {
  font-size: 60px;
  color: rgb(255, 255, 255);
}
#hero .hero__title p {
  font-size: 20px;
  line-height: 1.6;
  padding-block: 20px;
  width: 38%;
  color: rgb(255, 255, 255);
}
#hero .hero__title a {
  background-color: rgb(255, 255, 255);
  color: red;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  transition: all 0.5s;
}
#hero .hero__title a:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}
@media (max-width: 1200px) {
  #hero .hero__dog {
    right: -10px;
  }
}
@media (max-width: 992px) {
  #hero .hero__dog {
    display: none;
  }
  #hero .hero__title p {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #hero .hero__title {
    top: 100px;
    left: 10px;
  }
  #hero .hero__title h2 {
    font-size: 35px;
  }
}

#services {
  margin-top: 100px;
}
#services .services__title {
  text-align: center;
}
#services .services__title h2 {
  font-size: 44px;
  font-weight: 700;
}
#services .services__title p {
  padding-block: 20px;
  line-height: 1.4;
}

.services__content {
  margin-top: 80px;
}
.services__content .cards .card {
  border: 1px solid #ffc5c2;
  padding: 68px 22px 60px 22px;
  transition: 0.8s;
}
.services__content .cards .card:hover {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.services__content .cards .card .card__banner {
  position: relative;
  width: 166px;
  height: 144px;
  margin: 5px auto;
  background-image: url("/assets/media/images/service_icon_bg_1.png.webp");
  background-repeat: no-repeat;
}
.services__content .cards .card .card__banner img {
  position: absolute;
  top: 26%;
  left: 22%;
  object-fit: cover;
  object-position: center;
}
.services__content .cards .card .card__texts {
  text-align: center;
}
.services__content .cards .card .card__texts h4 {
  font-size: 24px;
  padding-block: 10px;
  font-weight: 600;
}
.services__content .cards .card .card__texts p {
  color: #909092;
  font-weight: 400;
  line-height: 2;
}
@media (max-width: 576px) {
  .services__content .cards .card {
    padding: 50px 5px;
  }
}

#pets {
  margin-top: 200px;
}
#pets .pets__photo img {
  width: 100%;
  height: 100%;
}
#pets .pets__title {
  margin-top: 105px;
}
#pets .pets__title h2 {
  font-size: 50px;
  color: rgb(3, 3, 3);
  line-height: 1.5;
}
#pets .pets__title p {
  font-size: 18px;
  line-height: 1.9;
  padding-block: 18px;
}
#pets .pets__title a {
  background-color: red;
  color: rgb(255, 255, 255);
  width: 200px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

@media (max-width: 1200px) {
  #pets .pets__title {
    margin-top: 90px;
  }
  #pets .pets__title h2 {
    font-size: 44px;
    color: rgb(3, 3, 3);
    line-height: 1.5;
  }
  #pets .pets__title p {
    font-size: 18px;
    line-height: 1.5;
    padding-block: 10px;
  }
}
@media (max-width: 992px) {
  #pets .pets__title {
    margin-top: 70px;
  }
  #pets .pets__title h2 {
    font-size: 40px;
    line-height: 1.1;
  }
  #pets .pets__title p {
    font-size: 16px;
    line-height: 1.5;
    padding-block: 10px;
  }
}

#adapthelp {
  margin-top: 160px;
}
#adapthelp .adapthelp__title h2 {
  font-size: 60px;
  color: rgb(3, 3, 3);
  font-weight: 300;
}
#adapthelp .adapthelp__title h2 strong {
  font-weight: 700;
}
#adapthelp .adapthelp__title p {
  font-size: 20px;
  line-height: 1.6;
  padding-block: 20px;
  color: rgb(3, 3, 3);
}
#adapthelp .adapthelp__title a {
  background-color: red;
  color: rgb(255, 255, 255);
  width: 200px;
  margin-block: 30px;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
#adapthelp .adapthelp__cards {
  margin-left: 40px;
  transform: translateY(-150px);
}
#adapthelp .adapthelp__cards .card {
  margin-bottom: 30px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  text-align: center;
}
#adapthelp .adapthelp__cards .card .img__wrapper {
  padding-block: 30px;
}
#adapthelp .adapthelp__cards .card h2 {
  font-weight: 900;
  font-size: 60px;
}
#adapthelp .adapthelp__cards .card p {
  color: #808080;
  padding-top: 15px;
  padding-bottom: 45px;
}
#adapthelp .adapthelp__cards .adapthelp__first {
  transform: translateY(50%);
}

@media (max-width: 992px) {
  #adapthelp .adapthelp__cards {
    margin-left: 0;
    transform: translateY(10px);
  }
}
@media (max-width: 768px) {
  #adapthelp .adapthelp__cards .adapthelp__first {
    transform: translateY(0);
  }
}

#ourteam .team__content {
  background-color: white;
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  border-radius: 5px;
  display: inline-block;
  padding: 16px 32px 11px 30px;
  transform: translate(38%, -51%);
  transition: all 0.4s;
}
#ourteam .team__content:hover {
  transform: translate(38%, -61%);
}
#ourteam .team__content p {
  font-weight: 700;
  padding: 15px 0;
  font-size: 20px;
}
#ourteam .team__content span {
  color: #909092;
  display: inline-block;
  margin-bottom: 10px;
}
#ourteam .team__img {
  overflow: hidden;
}
#ourteam .team__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ourteam__title {
  width: 65%;
  margin: 80px auto;
  text-align: center;
}
.ourteam__title p {
  font-weight: 700;
  font-size: 60px;
}
.ourteam__title span {
  display: inline-block;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #909092;
}

@media (max-width: 1200px) {
  #ourteam .team__content {
    transform: translate(24%, -51%);
    padding: 7px 20px 9px 20px;
  }
}
@media (max-width: 992px) {
  #ourteam .team__content {
    transform: translate(30%, -51%);
  }
}
@media (max-width: 768px) {
  #ourteam .team__content {
    transform: translate(80%, -51%);
    padding: 16px 32px 11px 30px;
  }
}
@media (max-width: 576px) {
  #ourteam .team__content {
    transform: translate(50%, -51%);
    padding: 6px 22px 7px 22px;
  }
}
@media (max-width: 390px) {
  #ourteam .team__content {
    transform: translate(32%, -51%);
    padding: 4px 12px 5px 12px;
  }
}

#contact__anipat {
  position: relative;
  margin-top: 100px;
}
#contact__anipat .banner {
  overflow: hidden;
  height: 400px;
}
#contact__anipat .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#contact__anipat .anipat__title {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 120px;
  left: 400px;
  text-align: center;
  width: 50%;
}
#contact__anipat .anipat__title h3 {
  font-size: 40px;
  font-weight: 700;
}
#contact__anipat .anipat__title p {
  font-size: 22px;
  padding: 20px;
  line-height: 1.5;
}
#contact__anipat .anipat__title .title__items a {
  background-color: rgb(255, 255, 255);
  color: red;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  transition: all 0.5s;
}
#contact__anipat .anipat__title .title__items a:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}
#contact__anipat .anipat__title .title__items span {
  font-size: 20px;
  padding-inline: 30px;
}

@media (max-width: 1200px) {
  #contact__anipat .anipat__title {
    top: 100px;
    left: 300px;
  }
}
@media (max-width: 992px) {
  #contact__anipat .anipat__title {
    top: 56px;
    left: 250px;
  }
}
@media (max-width: 768px) {
  #contact__anipat .anipat__title {
    width: 70%;
    top: 100px;
    left: 110px;
  }
  #contact__anipat .anipat__title h3 {
    font-size: 26px;
  }
  #contact__anipat .anipat__title p {
    font-size: 20px;
    padding: 18px;
  }
}
@media (max-width: 576px) {
  #contact__anipat .anipat__title {
    width: 84%;
    top: 40px;
    left: 35px;
  }
  #contact__anipat .anipat__title h3 {
    font-size: 20px;
  }
  #contact__anipat .anipat__title p {
    font-size: 20px;
    padding: 15px;
  }
  #contact__anipat .anipat__title .title__items span {
    margin-top: 10px;
    display: block;
  }
}

#hero__us {
  position: relative;
}
#hero__us .hero__banner {
  overflow: hidden;
}
#hero__us .hero__banner img {
  width: 100%;
  height: 100%;
}
#hero__us h1 {
  position: absolute;
  font-size: 64px;
  font-weight: 700;
  top: 30%;
  left: 38%;
  color: rgb(255, 255, 255);
}

@media (max-width: 992px) {
  #hero__us h1 {
    font-size: 56px;
    top: 25%;
    left: 30%;
  }
}
@media (max-width: 576px) {
  #hero__us h1 {
    font-size: 35px;
    top: 22%;
    left: 28%;
  }
}

#cards .col-12 .card {
  margin-block: 224px;
}
#cards .col-12 .card .card-body {
  padding-bottom: 40px;
}
#cards .col-12 .card .card-body h5 {
  padding: 10px;
  font-size: 26px;
  font-family: cursive;
  color: rgb(44, 4, 44);
}
#cards .col-12 .card .card-body a {
  padding: 10px;
  font-size: 22px;
  text-decoration: none;
  background-color: #2395ff;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
#cards .col-12 .card .card-body a:hover {
  color: #2395ff;
  background-color: rgb(3, 3, 3);
}
#cards .col-12 .card .card-body .detail__details {
  padding: 10px;
  font-size: 20px;
  line-height: 1.4;
  color: darkslateblue;
}
#cards .col-12 .card .card-body .detail__count {
  padding: 10px;
  font-family: Impact;
  font-size: 40px;
  color: rgb(139, 86, 0);
  margin-bottom: 20px;
}

#edit__main {
  background-image: url("https://img.freepik.com/free-photo/3d-dark-grunge-display-background-with-smoky-atmosphere_1048-16218.jpg");
  background-position: center;
}

#editing {
  position: relative;
}
#editing form {
  padding-bottom: 40px;
}
#editing form label {
  padding: 20px;
  font-size: 25px;
  font-family: monospace;
  color: #ffc5c2;
}
#editing form input {
  display: block;
  padding: 20px;
  border: 2px ridge red;
  border-radius: 5px;
  outline: none;
}
#editing form button {
  padding: 10px 70px;
  border-radius: 26px;
  background-color: #909092;
  color: rgb(32, 17, 39);
  border: none;
}
#editing form button:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}
#editing .x {
  position: absolute;
  top: 100px;
  left: 100px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#editing .x span {
  display: inline-block;
  font-size: 28px;
  color: red;
}

/* container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* row */
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
}

.jspacebetween {
  display: flex;
  justify-content: space-between;
}

[class|=col] {
  padding: 0 16px;
}

/* columns */
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 575.98px) {
  .col-xs-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-xs-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-xs-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-xs-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-xs-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-xs-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-xs-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-xs-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-xs-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-xs-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-xs-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-xs-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .col-sm-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-sm-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-sm-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-sm-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-sm-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-sm-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-sm-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-sm-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-sm-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-sm-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-sm-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-sm-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .col-md-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-md-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-md-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-md-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-md-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-md-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-md-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-md-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-md-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-md-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-md-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-md-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .col-lg-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-lg-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-lg-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-lg-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-lg-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-lg-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-lg-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-lg-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-lg-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-lg-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-lg-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-lg-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .col-xl-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-xl-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-xl-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-xl-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-xl-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-xl-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-xl-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-xl-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-xl-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-xl-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-xl-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-xl-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-xxl-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-xxl-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-xxl-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-xxl-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-xxl-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-xxl-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-xxl-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-xxl-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-xxl-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-xxl-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-xxl-12 {
    width: calc(8.3333333333% * 12);
  }
}
header .header__top {
  background-color: rgb(3, 3, 3);
  color: rgb(255, 255, 255);
}
header .header__top .header__number__day {
  display: flex;
}
header .header__top .header__number__day li {
  padding: 20px;
  font-size: 18px;
}
header .header__top .header__socials {
  display: flex;
}
header .header__top .header__socials li {
  padding: 20px;
}
header .header__top .header__socials li a {
  color: rgb(255, 255, 255);
}
header .header__top .header__socials li a:hover {
  color: #fd7e14;
}

nav .nav__logo {
  padding: 25px 0;
}
nav .nav__links {
  display: flex;
}
nav .nav__links li {
  padding: 34px 10px;
}
nav .nav__links li a {
  text-decoration: none;
  color: rgb(3, 3, 3);
  font-weight: 500;
  transition: all 0.4s;
}
nav .nav__links li a:hover {
  color: #fd7e14;
}
nav .nav__links .sign-out {
  border: 1px solid red;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}
nav .accordion__menu {
  display: none;
}

@media (max-width: 768px) {
  header .header__top .container .header__top__elements {
    display: block;
  }
  header .header__top .container .header__top__elements .header__number__day {
    justify-content: center;
  }
  header .header__top .container .header__top__elements .header__socials {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  nav .nav__links {
    display: none;
  }
  nav .accordion__menu {
    display: block;
  }
  nav .accordion__menu .accordion__links li {
    padding: 34px 10px;
  }
  nav .accordion__menu .accordion__links li a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-weight: 900;
  }
}

footer {
  margin-top: 100px;
}
footer p {
  font-size: 25px;
  padding-block: 20px;
  font-weight: 500;
}
footer #footer__logo {
  margin-top: 20px;
}
footer ul li {
  padding: 20px 0;
  color: #909092;
  line-height: 1.7;
}
footer ul li a {
  color: #909092;
  text-decoration: none;
}
footer ul li a:hover {
  color: #fd7e14;
}
footer ul li #footer__socials {
  display: flex;
  column-gap: 10px;
}
footer .bottom h3 {
  color: #909092;
  word-spacing: 2px;
  margin-block: 30px;
}
footer .bottom h3 a {
  text-decoration: none;
  color: #007BFF;
}

#map {
  text-align: center;
  padding: 100px;
  overflow: hidden;
}
#map iframe {
  width: 100%;
}
@media (max-width: 576px) {
  #map {
    display: none;
  }
}

#c__elements {
  margin-block: 80px;
  background-color: rgb(249, 245, 210);
}
#c__elements h1 {
  font-size: 26px;
  font-weight: 600;
  padding-block: 20px;
}
#c__elements form textarea {
  resize: vertical;
  width: 100%;
  padding-block: 20px;
  padding-left: 15px;
  margin-bottom: 20px;
  outline: cyan;
  border-radius: 12px 10px 30px 25px;
  border: 2px dotted cadetblue;
  background-color: rgb(178, 220, 237);
}
#c__elements form .inputs__div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#c__elements form .inputs__div input {
  width: 46%;
  padding: 14px 15px;
  margin-bottom: 20px;
  border: 1px solid #bab6b6;
}
#c__elements form input {
  width: 100%;
  padding: 10px 17px;
  border: 1px solid #2d1010;
  background-color: greenyellow;
  border-radius: 11px;
}
#c__elements form button {
  margin-block: 30px;
  display: block;
  letter-spacing: 3px;
  padding: 30px;
  border-radius: 7px;
  color: red;
  border: 1px solid #ffc5c2;
}
#c__elements form button:hover {
  color: rgb(255, 255, 255);
  background-color: red;
}
@media (max-width: 576px) {
  #c__elements form .inputs__div {
    display: block;
  }
  #c__elements form .inputs__div input {
    width: 100%;
  }
}

.contact__icons {
  margin-top: 55px;
}
.contact__icons ul li {
  display: flex;
}
.contact__icons ul li i {
  font-size: 26px;
  padding: 18px 14px;
  color: #909092;
}
.contact__icons ul li p {
  padding: 19px 10px;
}
.contact__icons ul li p span {
  display: inline-block;
  color: #bab6b6;
  padding-block: 6px;
}

.slider {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider .slides .slide {
  min-width: 100%;
  box-sizing: border-box;
}
.slider .slides .slide img {
  width: 100%;
}
.slider .prev, .slider .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(8, 38, 170, 0.5);
  color: rgb(210, 125, 125);
  border: none;
  padding: 10px;
  cursor: pointer;
}
.slider .prev:hover, .slider .next:hover {
  background-color: rgba(100, 9, 9, 0.7);
  color: rgb(209, 207, 207);
}
.slider .prev {
  left: 0;
}
.slider .next {
  right: 4%;
}

@media screen and (max-width: 768px) {
  .slider .prev, .slider .next {
    padding: 8px;
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .slider .prev, .slider .next {
    padding: 6px;
    font-size: 16px;
  }
  .slider .slides .slide img {
    height: auto;
  }
}
#blog__area {
  margin-block: 150px;
}
#blog__area .blog__elements {
  box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
  padding-bottom: 40px;
  margin-top: 55px;
}
#blog__area .blog__elements .img__wrapper {
  overflow: hidden;
}
#blog__area .blog__elements .img__wrapper img {
  width: 100%;
  height: 100%;
}
#blog__area .blog__elements .create__date {
  background-color: red;
  transform: translate(50px, -50px);
  border-radius: 10px;
  width: 100px;
}
#blog__area .blog__elements .create__date a {
  text-decoration: none;
}
#blog__area .blog__elements .create__date a p, #blog__area .blog__elements .create__date a span {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 28px;
  font-weight: 600;
}
#blog__area .blog__elements .create__date a span {
  display: inline-block;
}
#blog__area .blog__elements .create__date:hover {
  background-color: transparent;
}
#blog__area .blog__elements .create__date:hover a p, #blog__area .blog__elements .create__date:hover a span {
  color: #fd7e14;
}
#blog__area .blog__elements .blog__detail {
  padding: 20px;
}
#blog__area .blog__elements .blog__detail a {
  text-decoration: none;
}
#blog__area .blog__elements .blog__detail a p {
  color: rgb(3, 3, 3);
  font-weight: 600;
  font-size: 22px;
  padding: 10px;
}
#blog__area .blog__elements .blog__detail a p:hover {
  color: #fd7e14;
}
#blog__area .blog__elements .blog__detail p {
  padding: 10px;
  font-size: 16px;
  line-height: 2;
  color: #909092;
}
#blog__area .blog__elements .tag__comment {
  display: flex;
  padding: 20px;
}
#blog__area .blog__elements .tag__comment a {
  text-decoration: none;
  font-size: 13px;
  padding: 10px;
  color: #909092;
}
#blog__area .blog__elements .tag__comment a:hover {
  color: #fd7e14;
}
#blog__area .blog__elements .tag__comment a p {
  display: inline-block;
}
#blog__area .blog__slider {
  margin-top: 70px;
  text-align: center;
}
#blog__area .blog__slider a {
  display: inline-block;
  margin-left: 2px;
  padding: 14px;
  border: 1px solid #6f42c1;
  border-radius: 5px;
  text-decoration: none;
  color: #909092;
}
#blog__area .blog__slider a:hover {
  color: #fd7e14;
}

.search__form {
  margin-top: 57px;
  background-color: #fbf9ff;
  padding: 30px 15px;
}
.search__form .input__group {
  padding: 10px 20px;
  border: 1px solid #f0e9ff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 20px;
}
.search__form .input__group input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 90%;
}
.search__form .search__btn {
  padding-block: 25px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ffc5c2;
  border-radius: 4px;
  letter-spacing: 4px;
  color: red;
}
.search__form .search__btn:hover {
  color: #fff;
  background-color: red;
}

.blog__posts {
  margin-top: 40px;
  background-color: #fbf9ff;
  padding: 30px;
}
.blog__posts .post__items li {
  display: flex;
  padding: 20px 5px;
}
.blog__posts .post__items li .post__content {
  margin-top: 5px;
  padding-inline: 10px;
}
.blog__posts .post__items li .post__content h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.blog__posts .post__items li .post__content span {
  font-size: 15px;
  color: #909092;
}

.blog__clouds {
  margin-top: 40px;
  background-color: #fbf9ff;
  padding: 30px;
}
.blog__clouds .cloud__items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.blog__clouds .cloud__items li {
  border: 1px solid rgba(225, 225, 225, 0.8431372549);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.blog__clouds .cloud__items li a {
  text-decoration: none;
  color: #909092;
}
.blog__clouds .cloud__items li:hover {
  background-color: red;
}
.blog__clouds .cloud__items li:hover a {
  color: rgb(255, 255, 255);
}

.instagram {
  margin-top: 40px;
  background-color: #fbf9ff;
  padding: 30px;
}
.instagram .elements {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.subscribe__form {
  margin-top: 57px;
  background-color: #fbf9ff;
  padding: 30px 15px;
}
.subscribe__form .input__group {
  padding: 10px 20px;
  border: 1px solid #f0e9ff;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 20px;
}
.subscribe__form .input__group input {
  background-color: transparent;
  border: none;
  outline: none;
}
.subscribe__form .subscribe__btn {
  padding-block: 15px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ffc5c2;
  border-radius: 4px;
  letter-spacing: 4px;
  color: red;
}
.subscribe__form .subscribe__btn:hover {
  color: #fff;
  background-color: red;
}

@media (max-width: 576px) {
  #blog__area .blog__elements .create__date {
    transform: translate(25px, -30px);
    width: 60px;
  }
  #blog__area .blog__elements .create__date a p, #blog__area .blog__elements .create__date a span {
    font-size: 17px;
    padding: 8px 10px;
  }
  #blog__area .blog__elements .blog__detail {
    padding: 5px 15px;
  }
  #blog__area .blog__elements .blog__detail a p {
    color: rgb(3, 3, 3);
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
  }
  #blog__area .blog__elements .blog__detail p {
    padding: 5px;
    font-size: 15px;
    line-height: 1.8;
  }
  #blog__area .blog__elements .tag__comment {
    padding: 0;
    display: block;
    text-align: center;
  }
  #blog__area .blog__elements .tag__comment a {
    display: block;
    font-size: 15px;
  }
  #blog__area .blog__elements .tag__comment a p {
    margin-left: 5px;
  }
}

@media (max-width: 390px) {
  .search__form {
    padding: 20px 10px;
  }
  .search__form .input__group {
    padding: 10px 15px;
  }
  .search__form .input__group input {
    width: 90%;
  }
  .search__form .search__btn {
    padding-block: 18px;
  }
}

@media (max-width: 390px) {
  .blog__posts {
    padding: 10px;
  }
  .blog__posts .post__items li {
    padding: 10px 10px;
  }
  .blog__posts .post__items li .post__content h4 {
    font-size: 14px;
  }
  .blog__posts .post__items li .post__content span {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .instagram .elements {
    justify-content: space-around;
  }
}

#wishlist__items {
  text-align: center;
}
#wishlist__items h1 {
  text-align: center;
  font-size: 35px;
  color: rgb(150, 193, 87);
  font-weight: 900;
  font-family: cursive;
}
#wishlist__items .wishlist-row .card .img-wrapper {
  overflow: hidden;
  height: 400px;
}
#wishlist__items .wishlist-row .card .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wishlist__items .wishlist-row .card .card-body {
  padding-block: 50px;
  padding-inline: 20px;
}
#wishlist__items .wishlist-row .card .card-body h2 {
  font-size: 22px;
  color: #fd7e14;
}
#wishlist__items .wishlist-row .card .card-body p {
  font-size: 25px;
  color: rgb(3, 3, 3);
  font-family: monospace;
}
#wishlist__items .wishlist-row .card .card-body button {
  padding: 5px 18px;
  margin-top: 20px;
}
#wishlist__items a {
  text-decoration: none;
  border: 1px groove rgb(29, 152, 29);
  display: inline-block;
  padding: 10px 26px;
  margin-top: 50px;
  border-radius: 25px;
}
#wishlist__items a:hover {
  background-color: rgb(68, 205, 0);
  color: rgb(253, 200, 25);
}

.wish {
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  padding: 10px 20px;
  border: 1px solid salmon;
  border-radius: 20px;
  transform: translateY(-44px);
}/*# sourceMappingURL=main.css.map */